* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: arial;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-size: cover;
    background-color: rgb(25, 85, 44);
    color: rgb(201, 191, 149);
    padding-top: 10px;
    padding-left: 10px;
}

nav > ul > li {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 10px;
}

nav > ul > li > a {
    color: rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;

}

main {
    background-color: rgb(201, 191, 149);
    color: white;
}

.main-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.image-container {
    display: flex;
    flex:1;
    max-width: 50%;

}

.text-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-headers {
    margin: 0;
}
.text {
    margin: 10px;
}

/* Project/Resume Styles */
main > h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;

}

section {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.resume-subheader {
    font-size: 1em;
}